<!DOCTYPE html>
<html>
<head>
    <title>Add Prompt</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/js/main.js"></script>
</head>
<body>
    <form id="add-prompt-form" class="prompt-form">
        <input type="text" name="title" placeholder="Prompt Title">
        <textarea name="text" placeholder="Prompt Text (use {#}[Token Label] for tokens)"></textarea>
        <button class="submit-button" type="submit">Add</button>
    </form>
</body>
</html>
