<!DOCTYPE html>
<html>
<head>
    <title>Use Prompt</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/js/main.js"></script>
    <script src="/static/js/clipboard.js"></script>
</head>
<body>
    <!-- This form will be dynamically created for each prompt -->
    <form id="use-prompt-form-{prompt_id}" class="prompt-form">
        <!-- Token input fields will be dynamically added here -->
        <button class="submit-button" type="submit">Copy to Clipboard</button>
    </form>
</body>
</html>
